In [1]:
import pickle
from nltk.corpus import reuters
import pandas as pd

In [2]:
# loading the trained model
llda_model = pickle.load(open('llda_model.pkl', 'rb'))

# preparing test set
idlist = reuters.fileids()
idlist_test = [x for x in idlist if 'test' in x]

In [3]:
# picking a test instance
id_num = 501
unseen_doc = ' '.join(reuters.words(idlist_test[id_num]))
print(unseen_doc)

TAFT BROADCASTING & lt ; TFB > COMPLETES STATION SALE TVX Broadcast Group Inc & lt ; TVXG > said it has completed the previously - announced purchase of five Taft television stations . Last week , TVX said the sale , which was scheduled to close then , had been delayed . Taft said the purchase price was 240 mln dlrs , as previously announced . The price is subject to final adjustments , Taft said . Taft did not indicate the size of the gain , if any , it would post on the sale . It said the stations are WTAF - Philadelphia , WDCA - Washington , WCIX - Miami , KTXA - Dallas and KTXH - Houston .

In [4]:
# predict labels of unseen document
topics = llda_model.inference(document=unseen_doc, iteration=200, times=10)

In [5]:
df = pd.DataFrame(topics, columns =['topic', 'probability'])
df.head(10)

          topic  probability
0           acq     0.860063
1        orange     0.059452
2      platinum     0.033161
3  common_topic     0.020439
4          lead     0.006870
5    iron-steel     0.003477
6           wpi     0.003477
7        rubber     0.002629
8         cocoa     0.001781
9           lei     0.000933

In [6]:
# real label
reuters.categories(idlist_test[id_num])

['acq']